:root {
  --primaryA: rgb(38, 38, 87);
  --primaryB: #4378ce;
  --secondaryA: rgb(177, 177, 180);
  --secondaryB: rgb(24, 24, 42);
  --secondaryC: white;
}


body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(221, 225, 238, 0.397);
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: Georgia, 'Times New Roman', Times, serif;}

.small {
  font-weight: 300;
  font-style: italic;
}



/* .nav-main {
  border: red solid 2px;
  
}

.nav-brand-main {
  display: inline-flex;
  align-content: center;
  align-items: center;
  margin-left: 5px;
  border: red solid 2px;
}

.nav-logo {
  height: 100px;
  width: 100px;
  background-color: rgb(240, 127, 255);
  border-radius: 50%;
  padding-right: 20px;
}

.nav-logo img {
  background-image: url('./components/images/bc_logo.png');
} */