:root {
    --primaryA: rgb(38, 38, 87);
    --primaryB: #4378ce;
    --secondaryA: rgb(177, 177, 180);
    --secondaryB: rgb(24, 24, 42);
    --secondaryC: white;
  }

.card-img {
    border: rgb(38, 38, 87) solid 3px;
    margin: 20px;
    border-radius: 15px;
    width: 400px;
    height: 275px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.business-card-main {
    /* border: red solid 3px; */
    margin: 0 auto;
    font-size: 1.50em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.card-body-main {
    /* border: red solid 3px; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-width: max-content;
}

.leave-review-btn {
    /* border: red solid 3px; */
    background-color: transparent;
    border: transparent;
    color: var(--primaryA);
    width: 700px;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 15px;
}

.review-heading {
    /* border: red solid 3px; */
    background-color: var(--primaryA);
    color: var(--secondaryC);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    font-size: 2em;
    width: 100%;
    height: max-content;
    
}

.review-section {
    /* border: red solid 2px; */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondaryC);
    margin-top: 45px;
    height: fit-content;
    width: 700px;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.list-container{
    margin: 0;
    margin-top: 30px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 4em;
}

.review-list {
    border: rgb(38, 38, 87) solid 4px;
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 400px;
    height: 200px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media (max-width: 800px) {
    .card-body-main {
        font-size: .75em;
    }
}

@media (max-width: 834px) {
    .card-img{
        width: 350px;
        height: 250px;
    }
}

@media (max-width: 756px) {
    .card-img{
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 575px) {
    .review-section {
        width: 500px;
    }
}